body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    width: 100%;
    background: rgb(95, 1, 1);
}

#btn-menu {
    display: none;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px, solid, rgb(209, 56, 0);
}

header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

.menu li:hover {
    background: rgba(0, 0, 0, 0.3);
}

.menu li {
    flex-grow: 1;
    border-right: 3px, solid, rgb(240, 177, 4);
}

h1 {
    text-align: center;
    color: rgb(95, 1, 1);
}

.slider {
    width: 45%;
    margin: auto;
    padding: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite;
    animation-direction: alternate;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

@keyframes cambio {
    0% { margin-left: 0;}
    20% { margin-left: 0;}
    25% { margin-left: -100%;}
    45% { margin-left: -100%;}
    50% { margin-left: -200%;}
    70% { margin-left: -200%;}
    75% { margin-left: -300%;}
    100% { margin-left: -300%;}
}












@media (max-width: 768px) {
    header label {
        display: block;
    }
    .menu {
        position: absolute;
        background-color: rgb(95, 1, 1);
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li {
        border-top: 3px, solid, rgb(240, 177, 4);
    }
    #btn-menu:checked~.menu {
        margin: 0;
    }
}